/*  CSS Reset


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Add Project 2 CSS code --------------------------------------------------------------------------------------------*/

/* Main navigation bar -----------------------------------------------------------------------------------------------*/

#mmenu {
  text-align:center;
  background-color: #669999;
  top: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 15px;
}
#mmenu li {
  display:inline;
}
#mmenu a {
  text-decoration:none; 
  padding: 0px 30px; /* variable width */
  font: bold 20px/30px arial, serif;
  color: #000;
}
#mmenu a:hover {
  background-color: #008080
}

/*----------------------------------------------------------------------------------------------------------------------*/

#busphoto
{
    float: left;
} 

/*----------------------------------------------------------------------------------------------------------------------*/

#about
{
    overflow: auto;
    width: 98%;
    margin-top: 50px;
    margin-bottom: 5px;
    margin-right: 150px;
    margin-left: 5px;
    padding: 10px;
    border: 1px solid black;
}

#about h1
{
      margin-left: 200px;
      font: bold 16px/30px arial, serif;
}

#about h2
{
      margin-left: 200px;
      font: bold 14px/30px arial, serif;
}

#about p
{
      margin-left: 200px;
      font:  12px/30px arial, serif;
}

/*----------------------------------------------------------------------------------------------------------------------*/

#personal
{
    overflow: auto;
    width: 98%;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 5px;
    padding: 10px;
    border: 1px solid black;
}

#personal h2
{
      margin-left: 200px;
      font:  bold 14px/30px arial, serif;
}

#personal p
{
      margin-left: 200px;
      font:  12px/30px arial, serif;
}

#personal img
{
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
    height: 100px;
    width: 100px;
}

/* School Images -------------------------------------------------------------------------------------------- */

section.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
    margin-left: 100px;
}

section.gallery:hover {
    border: 1px solid #777;
}

section.gallery img {
    width: 300px;
    height: 200px;
}

section.desc {
    padding: 15px;
    text-align: center;
}

#contact
{
    overflow: auto;
    width: 98%;
    margin-top: 25px;
    margin-bottom: 5px;
    margin-right: 150px;
    margin-left: 5px;
    padding: 10px;
    border: 1px solid black;
}

/* Resume CSS --------------------------------------------------------------------------------------------*/

.exp {
    border: 2px solid;
    padding: 10px;
    background: #d1e0e0;
    border-top-left-radius: 2em;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.exp h3
{
      font: bold 15px/30px arial, serif;
}
.exp h4
{
      font: bold 13px/30px arial, serif;
}  
.exp h5
{
      font: bold 13px/30px arial, serif;
}   

/* Table - CSS --------------------------------------------------------------------------------------------*/


#high{
  margin-left: 10px;
  margin-right: 10px;
}


#high h2{
      text-align: center;
      font: bold 25px/30px arial, serif;
}  

#hight {

    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px; 

}

#hight th, td {
    text-align: left;
    padding: 8px;
}

#hight tr:nth-child(even){background-color: #f2f2f2}

#hight th {
    background-color: #669999;
    color: white;
}

/*----------------------------------------------------------------------------------------------------------------------*/

#skill{
  margin-left: 10px;
  margin-right: 10px;
}
#skill h2{
      text-align: center;
      font: bold 25px/30px arial, serif;
}  

#skillt {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px; 

}

#skillt th, td {
    text-align: left;
    padding: 8px;
}

#skillt tr:nth-child(even){background-color: #f2f2f2}

#skillt th {
    background-color: #669999;
    color: white;
}

/* Executive Summary CSS --------------------------------------------------------------------------------------------*/

#sum h1
{
      margin-top: 50px;
      text-align: center;
      font: bold 25px/30px arial, serif;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px; 
}

#sum p
{
      text-align: center;
      font:  15px/30px arial, serif;
      margin-bottom: 10px; 
}

#pro
{
      text-align: center;
      font:  bold 25px/30px arial, serif;
      margin-bottom: 10px; 
} 


#edu1{
      margin-left: 10px;
      margin-right: 10px;
}

#edu
{
      text-align: center;
      font:  bold 25px/30px arial, serif;

      margin-bottom: 10px; 
} 

/*----------------------------------------------------------------------------------------------------------------------*/

/* education */

#edu h2{
      text-align: center;
      font: bold 25px/30px arial, serif;
}  

#edu2 {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px; 

}

#edu2 th, td {
    text-align: center;
    padding: 8px;
}

#edu2 tr:nth-child(even){background-color: #f2f2f2}

#edu2 th {
    background-color: #669999;
    color: white;
}

/*----------------------------------------------------------------------------------------------------------------------*/

#mil h1
{
      text-align: center;
      font: bold 25px/30px arial, serif;
      margin-bottom: 10px; 
}

#mil p
{
      text-align: center;
      font:  15px/30px arial, serif;
      margin-bottom: 10px; 
}    

/*----------------------------------------------------------------------------------------------------------------------*/

#hob h1
{
      text-align: center;
      font: bold 25px/30px arial, serif;
      margin-top: 50px;
      margin-bottom: 10px; 
}


#arcades h1
{
      text-align: center;
      font: bold 25px/30px arial, serif;
      margin-top: 50px;
      margin-bottom: 10px; 
}


/*----------------------------------------------------------------------------------------------------------------------*/

.column {
    float: left;
    width: 30%;
    padding: 15px;
    text-align: center;
    /*background-color: #e0ebeb; */
}
.column h2{
  text-align: center;
  font: bold 20px/30px arial, serif;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width:600px) {
    .column {
        width: 100%;
    }
}

      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin-left: 10px;
        margin-right: 10px;
        padding: 0;
      }
